@import "../../common/common";

$list-box-width: 100% !default;

.#{$ns}-list-box {
  // @include pa-input-states(false);
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  width: $list-box-width;

  cursor: pointer;

  justify-content: center;

  &-expanded {
    @extend .#{$ns}-active;
  }

  &-expanded {
    .#{$ns}-list-box-menu {
      // 40px item height * 5.5 shown
      max-height: rem(220px);
      padding: rem(4px) 0;
      margin-top: rem(4px);
    }
  }

  &.#{$ns}-inline {
    display: inline-flex;
    width: auto;
  }
}

.#{$ns}-list-box-error {
  @include pa-input-error-message();
}

.#{$ns}-list-box-label {
  @include pa-input-label();
  display: flex;
  align-items: center;
  .#{$ns}-svg-icon {
    @include typography-normal();
    margin-left: rem(8px);
  }
}

.#{$ns}-list-box-menu {
  box-shadow: $pa-elevation-3;
  position: absolute;
  left: 0;
  right: 0;
  z-index: z("dropdown");
  overflow-y: auto;
  background-color: $pa-ui-01;
  transition: max-height 100ms cubic-bezier(0.2, 0, 0.38, 0.9);
  outline: none;
  margin: 0;

  &:focus {
    // @include focus-outline();
  }
}

$list-box-menu-item-padding-horizontal: $pa-input-padding-horizontal;

.#{$ns}-list-box-menu-item {
  @include pa-input-padding();

  @include typography-small();

  height: $pa-input-height;
  display: flex;
  align-items: center;

  &:hover {
    background-color: $gray-5;
  }

  // In this case the :active selector is when an option
  // is being held down. Whereas &-active is applied
  // when an option has been selected.
  &:active {
    background-color: $gray-10;
  }



  &-highlighted, &:focus {
    box-shadow: inset 2px 0px 0px 0px rgba($pa-input-border-color-focus, 1);
  }

  &-option {
    display: block;
    // width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-active {
    background-color: rgba($blue-20, 0.2);
    .#{$ns}-list-box-menu-item-option {
      width: 100%;
      display: inline-flex;
      justify-content: space-between;
      position: relative;

      > .#{$ns}-svg-icon {
        @include typography-normal;
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        align-items: center;
        margin-left: rem(16px)
      }
    }
  }

  &.#{$ns}-compact {
    @include typography-tiny;
    height: $pa-input-height-compact;
    > .#{$ns}-svg-icon {
      @include typography-small;
      margin-left: rem(12px)
    }
  }
}

.#{$ns}-list-box-field {
  @include button-reset;
  @include pa-input-padding;
  @include pa-input(false);
  @include pa-input-states;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top;
  outline: none;
  cursor: pointer;
  justify-content: space-between;

  &[aria-expanded="false"]+.#{$ns}-list-box-menu {
    max-height: 0;
  }

  &-placeholder {
    color: $pa-input-placeholder-color;
  }

  &.#{$ns}-inline {
    display: inline-flex;
    width: auto;
  }
}

.#{$ns}-list-box-menu-icon {
  @include typography-large;
  display: inline-flex;
  justify-self: end;
  margin-left: rem(8px);

  > .#{$ns}-svg-icon {
    transform: rotate(0deg);
    transition: transform 150ms ease-in-out;
  }

  &-open > .#{$ns}-svg-icon{
    transform: rotate(180deg);
    transition: transform 150ms ease-in-out;
  }


  &.#{$ns}-compact {
    @include typography-medium;
  }
}
