import React from 'react';
import classnames from "classnames"

import { Classes } from "../../common"

interface {{pascalCase name}}Props {

}

export const {{pascalCase name}} = React.memo(React.forwardRef<any, {{pascalCase name}}Props>(
  (props, ref) => {

    const {{camelCase name}}Classes = classnames(Classes.{{constantCase name}})
    console.debug({ props })

    return (
      <React.Fragment>
        <span className={ {{camelCase name}}Classes } ref={ref}>
          My name is {{pascalCase name}}!!!
        </span>
      </React.Fragment>
    )
  }
))

{{pascalCase name}}.displayName = "{{pascalCase name}}"
