import { Preview, Props, Story } from "@storybook/addon-docs/blocks"

# {{pascalCase name}}

## Table of Contents

<!-- START doctoc generated TOC please keep comment here to allow auto update -->
<!-- DON'T EDIT THIS SECTION, INSTEAD RE-RUN doctoc TO UPDATE -->

- [Overview](#overview)

<!-- END doctoc generated TOC please keep comment here to allow auto update -->

## Overview

Please provide a description of the {{pascalCase name}} component.

<Preview>
  <Story id="core-{{kebabCase name}}--primary" />
</Preview>

## Component API

<Props />

### {{pascalCase name}} `prop1`

Provide a description for `prop1`

### {{pascalCase name}} `prop2`

Provide a description for `prop2`
