import { {{pascalCase name}} } from "@weareasterisk/hyphen-ui-core"
import React, { useRef, useState } from "react"
import mdx from "./{{pascalCase name}}.mdx"

export default {
  title: "core/{{pascalCase name}}",
  parameters: {
    docs: {
      page: mdx
    }
  }
}

export const Primary = (): JSX.Element => {
  return (
    <React.Fragment>
      <{{pascalCase name}} />
    </React.Fragment>
  )
}

export const Playground = (): JSX.Element => {
  return (
    <React.Fragment>
      <{{pascalCase name}} />
    </React.Fragment>
  )
}
