// This file is named incorrectly
$white: #ffffff !default;
$black: #000000 !default;

$gray-5: #fafafa !default;
$gray-10: #f2f2f2 !default;
$gray-20: #ececec !default;
$gray-25: #e1e1e1 !default;
$gray-30: #dddddd !default;
$gray-40: #c3c3c3 !default;
$gray-50: #9e9e9e !default;
$gray-60: #737373 !default;
$gray-70: #4c4c4c !default;
$gray-75: #494949 !default;
$gray-80: #303030 !default;
$gray-90: #1f1f1f !default;
$gray-100: #1a1a1a !default;

$red-5: #fff2f5 !default;
$red-10: #ffebeb !default;
$red-20: #fedfe0 !default;
$red-30: #fac0c3 !default;
$red-40: #f48e96 !default;
$red-50: #ea4d5d !default;
$red-60: #db0a26 !default;
$red-70: #c5051d !default;
$red-75: #a60619 !default;
$red-80: #a20315 !default;
$red-90: #71010c !default;
$red-100: #330004 !default;

$orange-10: #ffece2 !default;
$orange-20: #ffbf9b !default;
$orange-30: #ff9153 !default;
$orange-40: #ff6a14 !default;
$orange-50: #e65d0a !default;
$orange-60: #c65107 !default;
$orange-70: #a14204 !default;
$orange-80: #783102 !default;
$orange-90: #4e2001 !default;
$orange-100: #260f00 !default;

$yellow-10: #fff4d1 !default;
$yellow-20: #ffec9f !default;
$yellow-30: #ffdf6a !default;
$yellow-40: #ffca3a !default;
$yellow-50: #d5a013 !default;
$yellow-60: #996e00 !default;
$yellow-70: #6e4f00 !default;
$yellow-80: #563e00 !default;
$yellow-90: #483400 !default;
$yellow-100: #402e00 !default;

$green-10: #edffe8 !default;
$green-20: #c8fbbb !default;
$green-30: #99ee87 !default;
$green-40: #61d550 !default;
$green-50: #26b11d !default;
$green-60: #1b8319 !default;
$green-70: #115812 !default;
$green-80: #0a390c !default;
$green-90: #062607 !default;
$green-100: #041f05 !default;

$blue-5: #f0f6ff !default;
$blue-10: #ddebff !default;
$blue-20: #add0ff !default;
$blue-30: #7ab3ff !default;
$blue-40: #4b94fa !default;
$blue-50: #2276ec !default;
$blue-60: #025bd7 !default;
$blue-70: #004ab1 !default;
$blue-80: #013886 !default;
$blue-90: #002759 !default;
$blue-100: #03142c !default;

// Brand colours
$brand-dark-blue: #003da6 !default;
$brand-blue: #007aff !default;
$brand-orange: #ff6c0e !default;
$brand-light-orange: #ffa476 !default;
$brand-light-blue: #88beff !default;
$brand-dark-orange: #e1251b !default;
