/* TODO: Script to generate tokens and colours from config */

$pa-text-01: $gray-100 !default;
$pa-text-02: $gray-80 !default;
$pa-text-03: $gray-40 !default;
$pa-text-04: $white !default;
$pa-text-05: $gray-60 !default;

$pa-link: $blue-60 !default;
$pa-hover-link: $blue-50 !default;
$pa-visited-link: $blue-50 !default;

$pa-field-01: $white !default;
$pa-field-02: $gray-20 !default;

$pa-icon-01: $gray-100 !default;
$pa-icon-02: $white !default;

$pa-ui-01: $white !default;
$pa-ui-02: $gray-20 !default;
$pa-ui-03: $gray-40 !default;
$pa-ui-04: $gray-60 !default;
$pa-ui-05: $gray-100 !default;

$pa-success: $green-60 !default;

$pa-error: $red-60 !default;

$pa-warning: $yellow-40 !default;

$pa-information: $blue-60 !default;

$pa-shading-success: $green-10 !default;
$pa-shading-error: $red-10 !default;
$pa-shading-warning: $yellow-10 !default;
$pa-shading-information: $blue-10 !default;

$pa-interactive-01: $blue-60 !default;
$pa-interactive-02: $gray-30 !default;
$pa-interactive-03: $gray-60 !default;

$pa-danger: $red-60 !default;

$pa-focus: $blue-40 !default;
$pa-focus-01: $blue-40 !default;
$pa-focus-02: $blue-40 !default;

$pa-disabled-01: $gray-10 !default;
$pa-disabled-02: $gray-40 !default;
$pa-disabled-03: $gray-60 !default;

$pa-hover-01: $gray-20 !default;

$pa-hover-primary: $blue-50 !default;
$pa-hover-primary-text: $blue-70 !default;
$pa-hover-secondary: $gray-20 !default;
$pa-hover-tertiary: $gray-20 !default;
$pa-hover-neutral: $gray-50 !default;
$pa-hover-danger: $red-50 !default;
$pa-hover-ui: $gray-20 !default;
$pa-hover-ghost: $gray-20 !default;
$pa-hover-ghost-danger: $red-20 !default;

$pa-active-primary: $blue-80 !default;
$pa-active-secondary: $blue-20 !default;
$pa-active-danger: $red-80 !default;
$pa-active-ui: $gray-30 !default;
$pa-active-ui-text: $blue-80 !default;
$pa-active-ghost: $blue-20 !default;
$pa-active-ghost-danger: $red-40 !default;

$pa-shading-primary: $blue-10 !default;
$pa-shading-error: $red-10 !default;
$pa-shading-information: $blue-10 !default;
$pa-shading-warning: $yellow-10 !default;
$pa-shading-success: $green-10 !default;

$pa-selected: $blue-10 !default;
$pa-selected-ui: $gray-25 !default;

$pa-accent-01: $blue-10 !default;
$pa-accent-02: $red-10 !default;

// Default chrome text selection color
$pa-text-selection-color: #3297fd !default;
