$pa-elevation-shadows: (
  $pa-elevation-1
  $pa-elevation-2
  $pa-elevation-3
  $pa-elevation-4
) !default;

@for $index from 1 through length($pa-elevation-shadows) {
  .#{$ns}-elevation-#{$index} {
    box-shadow: nth($pa-elevation-shadows, $index);
  }
}
