// Converts px to rem using the 16px=1rem paradigm
@function rem($size) {
  @return $size / 16px * 1rem;
}

@function em($size) {
  @return $size / 16px * 1em;
}

@function border-shadow($alpha, $color: $pa-ui-05, $size: 1px, $inset: true) {
  @if $inset {
    @return inset 0 0 0 $size rgba($color, $alpha);
  } @else {
    @return 0 0 0 $size rgba($color, $alpha);
  }
}
