$z-indexes: (
  modal: 9000,
  overlay: 6000,
  dropdown: 6000,
  header: 8000,
  footer: 5000,
  hidden: -1,
  overflowHidden: -1,
  floating: 6000
) !default;

@function z($layer) {
  @if not map-has-key($z-indexes, $layer) {
    @warn "No layer found for `#{$layer}` in $z-indexes map. Property omitted.";
  }

  @return map-get($z-indexes, $layer);
}

$spacing-sizes: (
  4: rem(4px),
  8: rem(8px),
  12: rem(12px),
  16: rem(16px),
  20: rem(20px),
  24: rem(24px),
  32: rem(32px),
  40: rem(40px),
  48: rem(48px)
) !default;

@function spacing($size) {
  @if not map-has-key($spacing-sizes, $size) {
    @warn "`#{$size}` is an invalid sizing increment. Property omitted";
  }

  @return map-get($spacing-sizes, $size);
}
