@mixin force-hardware-accelerate() {
  transform: translate3d(0, 0, 0);
}

@mixin focus-outline($offset: 0px) {
  box-shadow: border-shadow(1, $pa-focus-01, 2px, false);
}

@mixin overflow-ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

@mixin background-opacity($color, $opacity) {
  background: $color; /* Fallback */
  background: rgba($color, $opacity);
}

@mixin button-reset($width: true) {
  display: inline-block;
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
  appearance: none;

  @if($width == true) {
    width: 100%;
  }

  &::-moz-focus-inner {
    border: 0;
  }
}
