
$pa-font-family: "HK Grotesk", "system-ui", "-apple-system", "BlinkMacSystemFont", '"Segoe UI"',
  "Roboto", '"Helvetica Neue"', "Arial", '"Noto Sans"', "sans-serif", '"Apple Color Emoji"',
  '"Segoe UI Emoji"', '"Segoe UI Symbol"', '"Noto Color Emoji"' !default;

$pa-font-family-monospace: monospace !default;

// Font Weight
$pa-font-weight-bold: 700 !default;
$pa-font-weight-semibold: 600 !default;
$pa-font-weight-normal: 400 !default;
$pa-font-weight-light: 300 !default;

// Hero
$pa-typography-hero-font-size: rem(48px) !default;
$pa-typography-hero-line-height: 1.33 !default;
$pa-typography-hero-letter-spacing: -0.01em !default;
$pa-typography-hero-paragraph-spacing: rem(40px) !default;

// XXLarge
$pa-typography-xxlarge-font-size: rem(36px) !default;
$pa-typography-xxlarge-line-height: 1.33 !default;
$pa-typography-xxlarge-pragraph-spacing: rem(36px) !default;

// XLarge
$pa-typography-xlarge-font-size: rem(32px) !default;
$pa-typography-xlarge-line-height: 1.25 !default;
$pa-typography-xlarge-paragraph-spacing: rem(32px) !default;

// Large
$pa-typography-large-font-size: rem(24px) !default;
$pa-typography-large-line-height: 1.33 !default;
$pa-typography-large-paragraph-spacing: rem(24px) !default;

// Medium
$pa-typography-medium-font-size: rem(20px) !default;
$pa-typography-medium-line-height: 1.4 !default;
$pa-typography-medium-paragraph-spacing: rem(24px) !default;

// Normal
$pa-typography-normal-font-size: rem(16px) !default;
$pa-typography-normal-line-height: 1.5 !default;
$pa-typogrpahy-normal-paragraph-spacing: rem(16px) !default;

// Small
$pa-typography-small-font-size: rem(14px) !default;
$pa-typography-small-line-height: 1.43 !default;
$pa-typography-small-paragraph-spacing: rem(12px) !default;

// Tiny
$pa-typography-tiny-font-size: rem(12px) !default;
$pa-typography-tiny-line-height: 1.33 !default;
$pa-typography-tiny-letter-spacing: 0.1em !default;
$pa-typography-tiny-paragraph-spacing: rem(8px) !default;


@mixin typography-hero() {
  font-size: $pa-typography-hero-font-size;
  line-height: $pa-typography-hero-line-height;
  letter-spacing: $pa-typography-hero-letter-spacing;
}

@mixin typography-xxlarge() {
  font-size: $pa-typography-xxlarge-font-size;
  line-height: $pa-typography-xxlarge-line-height;
}

@mixin typography-xlarge() {
  font-size: $pa-typography-xlarge-font-size;
  line-height: $pa-typography-xlarge-line-height;
}

@mixin typography-large() {
  font-size: $pa-typography-large-font-size;
  line-height: $pa-typography-large-line-height;
}

@mixin typography-medium() {
  font-size: $pa-typography-medium-font-size;
  line-height: $pa-typography-medium-line-height;
}

@mixin typography-normal() {
  font-size: $pa-typography-normal-font-size;
  line-height: $pa-typography-normal-line-height;
}

@mixin typography-small() {
  font-size: $pa-typography-small-font-size;
  line-height: $pa-typography-small-line-height;
}

@mixin typography-tiny() {
  font-size: $pa-typography-tiny-font-size;
  line-height: $pa-typography-tiny-line-height;
}

@mixin h1() {
  @include typography-hero();
  font-weight: $pa-font-weight-semibold;
}

@mixin h2() {
  @include typography-xxlarge();
  font-weight: $pa-font-weight-light;
}

@mixin h3() {
  @include typography-xlarge();
  font-weight: $pa-font-weight-semibold;
}

@mixin h4() {
  @include typography-large();
  font-weight: $pa-font-weight-normal;
}

@mixin h5() {
  @include typography-medium();
  font-weight: $pa-font-weight-semibold;
}

@mixin h6() {
  @include typography-normal();
  font-weight: $pa-font-weight-semibold;
}

@mixin p() {
  @include typography-normal();
  font-weight: $pa-font-weight-normal;
}

@mixin strong() {
  @include typography-normal();
  font-weight: $pa-font-weight-semibold;
}

@mixin small() {
  @include typography-small();
  font-weight: $pa-font-weight-normal;
}

@mixin base-typography() {
  @include typography-normal();
  font-weight: $pa-font-weight-normal;
  letter-spacing: 0;
  text-transform: none;
  font-feature-settings: "liga" off;
}

@mixin monospace-typography() {
  font-family: $pa-font-family-monospace;
}


.#{$ns}-text-monospace {
  @include monospace-typography();
}

a {
  color: $pa-link;
  text-decoration: none;

  &:hover {
    color: $pa-link;
    cursor: pointer;
    text-decoration: underline;
  }
}

h1 {
  @include h1();
}

h2 {
  @include h2();
}

h3 {
  @include h3();
}

h4 {
  @include h4();
}

h5 {
  @include h5();
}

h6 {
  @include h6();
}

p {
  @include p();
}

strong {
  @include strong();
}

small {
  @include small();
}
