@import "../../common/common";

$button-height: rem(48px) !default;
$button-height-compact: rem(40px) !default;
$button-height-mini: rem(32px) !default;

$button-border-radius: rem(4px) !default;
$button-border-width: rem(1px) !default;

$button-margin-right: rem(4px) !default;

$button-border-color-outline: $pa-ui-04 !default;
$button-border-color-outline-hover: $pa-ui-04 !default;
$button-border-color-outline-active: $pa-ui-05 !default;
$button-border-color-outline-focus: $pa-ui-04 !default;
$button-border-color-outline-disabled: $pa-ui-02 !default;

$button-padding-vertical: rem(12px) !default;
$button-padding-vertical-compact: rem(10px) !default;
$button-padding-vertical-mini: rem(6px) !default;

$button-padding-horizontal: rem(16px) !default;
$button-padding-horizontal-compact: rem(12px) !default;
$button-padding-horizontal-mini: rem(10px) !default;

$button-background-color-primary: $pa-interactive-01 !default;
$button-background-color-primary-hover: $pa-hover-primary !default;
$button-background-color-primary-active: $pa-active-primary !default;
$button-background-color-primary-disabled: $pa-disabled-01 !default;

$button-background-color-secondary: $pa-interactive-02 !default;
$button-background-color-secondary-hover: $pa-hover-secondary !default;
$button-background-color-secondary-active: $pa-active-secondary !default;
$button-background-color-secondary-disabled: $pa-disabled-01 !default;

$button-background-color-danger: $pa-danger !default;
$button-background-color-danger-hover: $pa-hover-danger !default;
$button-background-color-danger-active: $pa-active-danger !default;
$button-background-color-danger-disabled: $pa-disabled-01 !default;

$button-background-color-outline: transparent !default;
$button-background-color-outline-hover: rgba(213, 213, 213, 0.2) !default;
$button-background-color-outline-active: rgba(213, 213, 213, 0.2) !default;
$button-background-color-outline-disabled: transparent !default;

$button-background-color-plain: transparent !default;
$button-background-color-plain-hover: $pa-hover-ghost !default;
$button-background-color-plain-active: $pa-active-ghost !default;
$button-background-color-plain-disabled: transparent !default;

$button-background-color-plain-danger: transparent !default;
$button-background-color-plain-danger-hover: $pa-hover-ghost-danger !default;
$button-background-color-plain-danger-active: $pa-active-ghost-danger !default;
$button-background-color-plain-danger-disabled: transparent !default;

$button-color-primary: $pa-ui-01 !default;
$button-color-primary-hover: $pa-ui-01 !default;
$button-color-primary-active: $pa-ui-01 !default;
$button-color-primary-focus: $pa-ui-01 !default;
$button-color-primary-disabled: $pa-ui-03 !default;

$button-color-secondary: $pa-ui-05 !default;
$button-color-secondary-hover: $pa-ui-05 !default;
$button-color-secondary-active: $pa-active-ui-text !default;
$button-color-secondary-focus: $pa-ui-05 !default;
$button-color-secondary-disabled: $pa-ui-03 !default;

$button-color-danger: $pa-ui-01 !default;
$button-color-danger-hover: $pa-ui-01 !default;
$button-color-danger-active: $pa-ui-01 !default;
$button-color-danger-focus: $pa-ui-01 !default;
$button-color-danger-disabled: $pa-ui-03 !default;

$button-color-outline: $pa-ui-04 !default;
$button-color-outline-hover: $pa-ui-04 !default;
$button-color-outline-active: $pa-ui-05 !default;
$button-color-outline-focus: $pa-ui-04 !default;
$button-color-outline-disabled: $pa-ui-03 !default;

$button-color-plain: $pa-ui-05 !default;
$button-color-plain-hover: $pa-ui-05 !default;
$button-color-plain-active: $pa-active-ui-text !default;
$button-color-plain-focus: $pa-ui-05 !default;
$button-color-plain-disabled: $pa-ui-03 !default;

$button-color-plain-danger: $pa-danger !default;
$button-color-plain-danger-hover: $pa-danger !default;
$button-color-plain-danger-active: $pa-danger !default;
$button-color-plain-danger-focus: $pa-danger !default;
$button-color-plain-danger-disabled: $pa-ui-03 !default;

@mixin makeBorder($color, $focus: false) {
  @if $focus {
    box-shadow: $pa-outline-shadow, border-shadow(1, $color, $button-border-width);
  } @else {
    box-shadow: border-shadow(1, $color, $button-border-width);
  }
}

.#{$ns}-button {
  @include typography-normal();
  font-weight: $pa-font-weight-semibold;

  padding: $button-padding-vertical $button-padding-horizontal;
  text-align: center;
  border: none;
  outline: none;
  min-height: $button-height;
  border-radius: $button-border-radius;
  display: inline-block;

  cursor: pointer;

  transition: opacity 0.05s ease, background-color 0.05s ease, color 0.05s ease,
    box-shadow 0.05s ease, background 0.05s ease;

  &:focus {
    @include focus-outline();
  }

  &:hover {
    text-decoration: none;
  }

  &.#{$ns}-compact {
    @include typography-small();

    padding: $button-padding-vertical-compact $button-padding-horizontal-compact;
    min-height: $button-height-compact;
  }

  &.#{$ns}-mini {
    @include typography-small();

    padding: $button-padding-vertical-mini $button-padding-horizontal-compact;
    min-height: $button-height-mini;
  }

  &:disabled,
  &.#{$ns}-disabled {
    cursor: not-allowed;
    pointer-events: none;
  }

  &-primary {
    background-color: $button-background-color-primary;
    color: $button-color-primary;

    &:hover {
      background-color: $button-background-color-primary-hover;
      color: $button-color-primary-hover;
    }

    &:active {
      background-color: $button-background-color-primary-active;
      color: $button-color-primary-active;
    }

    &:focus {
      color: $button-color-primary-focus;
    }

    &:disabled,
    &.#{$ns}-button-disabled,
    &.#{$ns}-disabled {
      background-color: $button-background-color-primary-disabled;
      color: $button-color-primary-disabled;
    }
  }

  &-secondary {
    background-color: $button-background-color-secondary;
    color: $button-color-secondary;

    &:hover {
      background-color: $button-background-color-secondary-hover;
      color: $button-color-secondary-hover;
    }

    &:active {
      background-color: $button-background-color-secondary-active;
      color: $button-color-secondary-active;
    }

    &:focus {
      color: $button-color-secondary-focus;
    }

    &:disabled,
    &.#{$ns}-button-disabled,
    &.#{$ns}-disabled {
      background-color: $button-background-color-secondary-disabled;
      color: $button-color-secondary-disabled;
    }
  }

  &-danger {
    background-color: $button-background-color-danger;
    color: $button-color-danger;

    &:hover {
      background-color: $button-background-color-danger-hover;
      color: $button-color-danger-hover;
    }

    &:active {
      background-color: $button-background-color-danger-active;
      color: $button-color-danger-active;
    }

    &:focus {
      color: $button-color-danger-focus;
    }

    &:disabled,
    &.#{$ns}-button-disabled,
    &.#{$ns}-disabled {
      background-color: $button-background-color-danger-disabled;
      color: $button-color-danger-disabled;
    }
  }

  &-outline {
    @include makeBorder($button-border-color-outline);
    background-color: $button-background-color-outline;
    color: $button-color-outline;

    &:hover {
      @include makeBorder($button-border-color-outline-hover);
      background-color: $button-background-color-outline-hover;
      color: $button-color-outline-hover;
    }

    &:focus {
      box-shadow: none;
      @include makeBorder($button-border-color-outline-focus, true);
      color: $button-color-outline-focus;
    }

    &:active {
      @include makeBorder($button-border-color-outline-active);
      background-color: $button-background-color-outline-active;
      color: $button-color-outline-active;
    }

    &:disabled,
    &.#{$ns}-button-disabled,
    &.#{$ns}-disabled {
      @include makeBorder($button-border-color-outline-disabled);
      background-color: $button-background-color-outline-disabled;
      color: $button-color-outline-disabled;
    }
  }

  &-plain {
    background-color: $button-background-color-plain;
    color: $button-color-plain;

    &:hover {
      background-color: $button-background-color-plain-hover;
      color: $button-color-plain-hover;
    }

    &:active {
      background-color: $button-background-color-plain-active;
      color: $button-color-plain-active;
    }

    &:focus {
      color: $button-color-plain-focus;
    }

    &:disabled,
    &.#{$ns}-button-disabled,
    &.#{$ns}-disabled {
      background-color: $button-background-color-plain-disabled;
      color: $button-color-plain-disabled;
    }
  }

  &-plain-danger {
    background-color: $button-background-color-plain-danger;
    color: $button-color-plain-danger;

    &:hover {
      background-color: $button-background-color-plain-danger-hover;
      color: $button-color-plain-danger-hover;
    }

    &:active {
      background-color: $button-background-color-plain-danger-active;
      color: $button-color-plain-danger-active;
    }

    &:focus {
      color: $button-color-plain-danger-focus;
    }

    &:disabled,
    &.#{$ns}-button-disabled,
    &.#{$ns}-disabled {
      background-color: $button-background-color-plain-danger-disabled;
      color: $button-color-plain-danger-disabled;
    }
  }

  &-fill {
    width: 100%;
  }
}
