/**
* Inject reliable reset and override as needed
*/
@import "~normalize.css/normalize";

@import "./common/common";

html {
  box-sizing: border-box;
}

/* stylelint-disable */
*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* stylelint-enable */

body {
  @include base-typography();
  color: $pa-text-01;
  font-family: $pa-font-family;
}

p {
  margin-top: 0;
  margin-bottom: rem(10px);
}

small {
  @include typography-small();
}

strong {
  font-weight: $pa-font-weight-semibold;
}

::selection {
  background: $pa-text-selection-color;
  color: $pa-text-04;
}
