@import "../../common/common";

.ck-toolbar,
.ck-content {
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.ck-content ol {
  list-style: none;
  counter-reset: li-rte;
  padding-inline-start: rem(32px);
  // padding-left: 32px;
}

.ck-content ul {
  list-style: disc;
  padding-inline-start: rem(32px);
  ul {
    list-style: circle;
    ul {
      list-style: disc;
    }
  }
}

.ck-content ol li {
  @include small;
  counter-increment: li-rte;
  margin-left: -1.5em;
}
.ck-content ol li::marker {
  @include small;
  content: counter(li-rte) ".";

  display: inline-block;
  font-weight: $pa-font-weight-semibold;
  color: $blue-60;
  margin-right: 1em;
}

.ck-content h1 {
  @include h3;
}

.ck-content ul li {
  @include small;
  margin-left: -0.25em;
}

.ck-content .#{ns}-heading-normal {
  margin-top: 1rem;
  margin-bottom: 0;
}

.ck-content .#{ns}-heading-medium {
  margin-top: 2rem;
  margin-bottom: 0;
}

.ck-content .#{ns}-text {
  margin-top: 0.5rem;
  margin-bottom: 0;
}
