@import "../Control/control";
@import "../../common/common";

.#{$ns}-toggle {
  line-height: 0;
  display: flex;
  align-items: center;
}

.#{$ns}-toggle-switch {
  display: inline-block;
  position: relative;
  width: rem(44px);
  height: rem(24px);

  &.#{$ns}-disabled {
    pointer-events: none;
    cursor: not-allowed;

    .#{$ns}-toggle-checkbox+.#{$ns}-toggle-slider{
      background-color: $gray-20;
    }

    .#{$ns}-toggle-checkbox:checked+.#{$ns}-toggle-slider {
      background-color: $green-20;
    }
  }

  &.#{$ns}-compact{
    width: rem(36px);
    height: rem(20px);
    border-radius: 12px;

    .#{$ns}-toggle-slider::before{
      height: rem(16px);
      width: rem(16px);
      right: rem(18px);
    }



    .#{$ns}-toggle-checkbox:checked+.#{$ns}-toggle-slider::before{
      transform: translateX(rem(16px));
    }
  }
}

.#{$ns}-compact + .#{$ns}-toggle-status-text{
  @include typography-small;
}

.#{$ns}-toggle-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  &:checked+.#{$ns}-toggle-slider {
    background-color: $green-60;
    &::before {
      transform: translateX(rem(20px));
    }
    &:hover{
      background-color: $green-50;
    }
  }

  &:focus + .#{$ns}-toggle-slider {
    @include focus-outline;
  }
}

.#{$ns}-toggle-status-text {
  @include typography-normal;
  margin-left: rem(8px);
}

.#{$ns}-toggle-slider {
  border-radius: rem(12px);
  cursor: pointer;
  position: absolute;
  background-color: $gray-60;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  &:hover{
    background-color: $gray-50;
  }
  &::before {
    position: absolute;
    content: "";
    height: rem(20px);
    width: rem(20px);
    bottom: rem(2px);
    left: rem(2px);
    right: rem(22px);
    background-color: $white;
    border-radius: 50%;
    transition: transform 60ms ease-in-out;
  }
}

// https://www.w3schools.com/howto/howto_css_switch.asp#:~:text=%20How%20TO%20-%20Toggle%20Switch%20%201,2%29%20Add%20CSS%3A%203%20W3.CSS%20Tutorial%20More%20
