@import "../../common/common";

$divider-margin: rem(16px) !default;

.#{$ns}-divider {
  border-bottom: 1px solid $pa-ui-03;

  margin-top: $divider-margin;
  margin-bottom: $divider-margin;

  &.#{$ns}-compact {
    margin-top: 0;
    margin-bottom: 0;
  }

  &-lighter {
    border-bottom: 1px solid $pa-ui-02;
  }

  &-light {
    border-bottom: 1px solid $pa-ui-03;
  }

  &-dark {
    border-bottom: 1px solid $pa-ui-04;
  }

  &-darker {
    border-bottom: 1px solid $pa-ui-05;
  }
}
