@import "../../common/common";
@import "../../scoped/inputs";
@import "../Control/control";

.#{$ns}-checkbox {
  align-items: center;

  input[type="checkbox"] {
    & + label {
    }
  }

  @mixin indicator-inline-icon($icon) {
    &::before {
      // embed SVG icon image as backgroud-image above gradient.
      // the SVG image content is inlined into the CSS, so use this sparingly.
      background-image: $icon;
      fill: $white;
    }
  }

  // make :indeterminate look like :checked _for Checkbox only_
  @include control-checked-colors(":indeterminate");

  .#{$ns}-control-indicator {
    border-radius: rem(2px);
  }

  input:checked ~ .#{$ns}-control-indicator {
    @include indicator-inline-icon(
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg data-name='Layer 2'%3E%3Cg data-name='checkmark'%3E%3Crect width='24' height='24' opacity='0'/%3E%3Cpath fill='%23fff' d='M9.86 18a1 1 0 0 1-.73-.32l-4.86-5.17a1 1 0 1 1 1.46-1.37l4.12 4.39 8.41-9.2a1 1 0 1 1 1.48 1.34l-9.14 10a1 1 0 0 1-.73.33z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E")
    );
  }

  input:indeterminate ~ .#{$ns}-control-indicator {
    @include indicator-inline-icon(
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg data-name='Layer 2'%3E%3Cg data-name='minus'%3E%3Crect width='24' height='24' transform='rotate(180 12 12)' opacity='0'/%3E%3Cpath fill='%23fff' d='M19 13H5a1 1 0 0 1 0-2h14a1 1 0 0 1 0 2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E")
    );
  }
}
