@import "../../common/common";

@keyframes #{$ns}-spinner-spin-to-win {
	from {
			transform:rotate(0deg);
	}
	to {
			transform:rotate(1440deg);
	}
}

.#{$ns}-spinner {
	display: grid;
	position: relative;
	width: rem(48px);
	height: rem(48px);
	justify-content: center;
	align-content: center;
	> svg {
		animation-name: #{$ns}-spinner-spin-to-win;
		animation-duration: 2500ms;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		height: inherit;
		width: inherit;
		object-fit: contain;
		position: absolute;
		will-change: transform;
	}

	&-large {
		height: rem(64px);
		width: rem(64px);	
	}
	&-small {
		height: rem(32px);
		width: rem(32px);	
	}
	&-tiny {
		height: rem(16px);
		width: rem(16px);	
	}
	&-easing-rollercoaster {
		> svg {
			animation-timing-function: cubic-bezier(.73,1.07,.48,.21);
		}
	}
}
