@import "../common/common";

// Input Action
$pa-input-action-color: $pa-information !default;
$pa-input-action-font-weight: $pa-font-weight-normal !default;

// Input Background Color
$pa-input-background-color-disabled: $pa-disabled-01 !default;
$pa-input-background-color-disabled: $pa-disabled-01 !default;
$pa-input-background-color-error: $pa-accent-02 !default;
$pa-input-background-color-readonly: $pa-disabled-01 !default;
$pa-input-background-color: $pa-ui-01 !default;

// Input Border Color
$pa-input-border-color-disabled: $pa-disabled-02 !default;
$pa-input-border-color-disabled-focus: $pa-input-border-color-disabled !default; // Disabled should not be interactive
$pa-input-border-color-error-focus: $pa-error !default;
$pa-input-border-color-error: $pa-error !default;
$pa-input-border-color-focus: $pa-focus !default;
$pa-input-border-color-hover: $pa-focus !default;
$pa-input-border-color: $pa-ui-04 !default;

// Input Border Radius
$pa-input-border-radius: rem(2px) !default;

// Input Border Style
$pa-input-border-style: solid !default;

// Input Border Thickness
$pa-input-border-thickness-focus: rem(2px) !default;
$pa-input-border-thickness-hover: rem(2px) !default;
$pa-input-border-thickness: rem(1px) !default;

// Input Box Shadow
$pa-input-box-shadow: $pa-elevation-inset-1 !default;

// Input Color
$pa-input-color-disabled: $pa-ui-03 !default;
$pa-input-color: $pa-ui-05 !default;

// Input Error Message
$pa-input-error-message-color: $pa-error !default;
$pa-input-error-message-font-weight: $pa-font-weight-normal !default;

// Input Font Weight
$pa-input-font-weight: $pa-font-weight-normal !default;

// Input Height
$pa-input-height-compact: rem(40px) !default;
$pa-input-height: rem(48px) !default;

// Input Helper
$pa-input-helper-color: $pa-ui-04 !default;
$pa-input-helper-font-weight: $pa-font-weight-normal !default;

// Input Label
$pa-input-label-color-disabled: $pa-disabled-02 !default;
$pa-input-label-color-error: $pa-ui-05 !default;
$pa-input-label-color: $pa-ui-05 !default;
$pa-input-label-font-weight: $pa-font-weight-semibold !default;

// Input Padding
$pa-input-padding-horizontal-compact: rem(12px) !default;
$pa-input-padding-horizontal: rem(16px) !default;

// Input Placeholder
$pa-input-placeholder-color: $pa-ui-03 !default;

// Input Transition
$pa-input-transition: box-shadow 0.05s linear !default;

@function input-transition-shadow($type: none) {
  @if $type == focus {
    @return border-shadow(1, $pa-input-border-color-focus, 2px), $pa-input-box-shadow;
  } @else if $type == disabled {
    @return border-shadow(1, $pa-input-border-color-disabled, 1px);
  } @else if $type == error {
    @return border-shadow(1, $pa-input-border-color-error, 1px), $pa-input-box-shadow;
  } @else if $type == noinput {
    @return border-shadow(1, $pa-input-border-color, 1px);
  } @else {
    @return border-shadow(1, $pa-input-border-color, 1px), $pa-input-box-shadow;
  }
}

@mixin pa-input-common() {
  @include typography-normal();
  display: block;
  position: relative;
  text-transform: none;
  background-clip: border-box;
}

@mixin pa-input-placeholder() {
  &::placeholder {
    color: $pa-input-placeholder-color;
    opacity: 1;
  }
}

@mixin pa-input-line() {
  @include pa-input-common();
}

// The focus flag controls whether or not to evaluate the `focus` styles
@mixin pa-input($focus: true) {
  @include pa-input-common();
  @include pa-input-placeholder();

  appearance: none;
  background: $pa-input-background-color;

  border: none;
  border-radius: $pa-input-border-radius;

  color: $pa-input-color;

  @include typography-normal();

  font-weight: $pa-input-font-weight;
  height: $pa-input-height;

  outline: none;
  padding: 0 $pa-input-padding-horizontal;
  transition: $pa-input-transition;
  vertical-align: middle;

  @if $focus {
    &:focus,
    &.#{$ns}-active {
      box-shadow: input-transition-shadow(focus);
    }
  }

  &.#{$ns}-round {
    border-radius: $pa-input-height;
  }

  &[readonly] {
    @include pa-input-readonly();
  }

  &.#{$ns}-compact {
    @include pa-input-compact();
  }

  &:disabled,
  &.#{$ns}-disabled {
    @include pa-input-disabled();
  }

  &.#{$ns}-error {
    @include pa-input-error();
  }
}

@mixin pa-input-states($focus: true) {
  background-color: $pa-ui-01;
  border-radius: $pa-input-border-radius;
  box-shadow: input-transition-shadow();

  @if $focus {
    &:focus,
    &.#{$ns}-active {
      box-shadow: input-transition-shadow(focus);
    }
  }

  &:disabled,
  &.#{$ns}-disabled {
    box-shadow: input-transition-shadow(disabled);
    background: $pa-input-background-color-disabled;
    color: $pa-input-color-disabled;
  }

  &.#{$ns}-error {
    box-shadow: input-transition-shadow(error);
    background: $pa-input-background-color-error;
  }

  &[readonly] {
    background-color: $pa-input-background-color-readonly;
  }
}

@mixin pa-input-padding() {
  padding: 0 $pa-input-padding-horizontal;

  &.#{$ns}-compact {
    padding: 0 $pa-input-padding-horizontal-compact;
  }
}

@mixin pa-input-disabled() {
  background: $pa-input-background-color-disabled;
  color: $pa-input-color-disabled;
  cursor: not-allowed;
  resize: none;
  box-shadow: input-transition-shadow(disabled);
}

@mixin pa-input-error() {
  background: $pa-input-background-color-error;
  box-shadow: input-transition-shadow(error);
}

@mixin pa-input-compact() {
  @include typography-small();
  height: $pa-input-height-compact;
  padding: 0 $pa-input-padding-horizontal-compact;

  &.#{$ns}-round {
    border-radius: $pa-input-height-compact;
  }
}

@mixin pa-input-readonly() {
  background-color: $pa-input-background-color-readonly;
}

@mixin pa-input-label() {
  @include typography-small();

  color: $pa-input-label-color;
  font-weight: $pa-input-label-font-weight;

  padding-bottom: rem(8px);

  &.#{$ns}-compact {
    @include typography-tiny();
  }

  &.#{$ns}-disabled {
    color: $pa-input-label-color-disabled;
  }

  &.#{$ns}-required {
    color: $pa-error;
  }
}

@mixin pa-input-error-message() {
  @include typography-small();
  color: $pa-input-error-message-color;
  font-weight: $pa-input-error-message-font-weight;

  display: flex;
  align-items: center;

  padding-top: rem(8px);

  // Ensure the icon has the same font size as the text
  .#{$ns}-svg-icon {
    @include typography-normal();
    margin-right: rem(4px);
  }

  &.#{$ns}-compact {
    @include typography-tiny();
  }
}

@mixin pa-input-helper() {
  @include typography-small();
  color: $pa-input-helper-color;
  font-weight: $pa-input-helper-font-weight;

  padding-top: rem(8px);

  &.#{$ns}-compact {
    @include typography-tiny();
  }
}
