@import "../../common/common";

@keyframes modal-after-open {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes modal-before-close {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  30% {
    opacity: 1;
  }

  70% {
    opacity: 0;
  }

  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}

.#{$ns}-modal {
  display: flex;
  flex-direction: column;
  background: hsl(0, 0%, 96%);
  width: 100%;
  height: auto;
  opacity: 0;
  overflow: hidden;

  @include media(">md") {
    max-width: rem(688px);
    max-height: rem(720px);
    border-radius: rem(8px);
  }

  &-after-open {
    animation: modal-after-open 100ms linear 0ms forwards;
  }
  &-before-close {
    animation: modal-before-close 100ms linear 0ms forwards;
  }
  &-overlay {
    background: rgba(47, 54, 63, 0.3);
    transition: opacity 100ms ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    // Ensure that modal shows above other elements
    z-index: z("modal");

    @include media(">md") {
      padding: rem(24px);
    }

    &-after-open {
      opacity: 1;
    }
    &-before-close {
      opacity: 0;
    }
  }

  &:focus {
    outline: none;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    border-bottom: #e8e8e8 thin solid;
    background: $white;
    align-items: center;
    padding-left: rem(24px);

    padding-top: rem(14px);
    padding-bottom: rem(14px);

    .#{$ns}-heading {
      margin: 0;
    }

    &-close-button {
      display: flex;
      justify-content: center;
      align-items: center;
      > svg {
        height: rem(18px);
        width: rem(18px);
      }
    }
  }
  &-main {
    padding: rem(24px);
    overflow-y: auto;
  }
  &-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: #e8e8e8 thin solid;
    padding: rem(12px) rem(24px);
    > button {
      margin-left: rem(16px);
    }
  }
}

