@import "../../../common/common";

.#{$ns}-list-item {
  object-fit: contain;
  display: flex;
  flex-direction: row;
}

.#{$ns}-list-item-line {
  width: rem(1px);
  height: rem(48px);
  background-color: $pa-ui-02;
  margin-right: rem(24px);
}

.#{$ns}-list-item-icon {
  margin: rem(14px);
  &.#{$ns}-svg-icon {
    font-size: rem(20px);
    color: $pa-ui-03;
  }
}

.#{$ns}-list-item-content {
  margin-bottom: rem(8px);
  @include typography-normal();
  display: flex;
  align-items: center;
}
