@import "../../common/common";

$control-background-color: $pa-ui-01 !default;
$control-background-color-hover: $pa-hover-01 !default;

$control-background-color-selected: $pa-interactive-01 !default;
$control-background-color-selected-hover: $pa-hover-primary !default;
$control-background-color-selected-focus: $pa-hover-primary !default;

$control-background-color-selected-disabled: $pa-disabled-02 !default;

$control-background-color-active: $pa-focus-02;

$control-background-color-disabled: $pa-ui-02;

$control-border-color: $pa-ui-05 !default;
$control-border-color-checked: $pa-interactive-01 !default;

$control-indicator-size: rem(20px);
$control-indicator-color: $pa-ui-01;

@mixin control-indicator-common() {
  background-color: $control-background-color;
  color: $control-border-color-checked;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  appearance: none;
}

// Styles applied when control is checked
@mixin control-checked-colors($selector: ":checked") {
  input#{$selector} ~ .#{$ns}-control-indicator {
    background-color: $control-background-color-selected;
    color: $control-indicator-color;
    border: none;
  }

  &:hover input#{$selector} ~ .#{$ns}-control-indicator {
    background-color: $control-background-color-selected-hover;
    border: none;
  }

  input:not(:disabled):active#{$selector} ~ .#{$ns}-control-indicator {
    background: $control-background-color-active;
  }

  input:disabled#{$selector} ~ .#{$ns}-control-indicator {
    background: $control-background-color-disabled;
    border: rem(1px) solid $pa-disabled-02 !important;
  }
}

@mixin control-common() {
  cursor: pointer;
  position: relative;
  text-transform: none;
}

// Control styles
.#{$ns}-control {
  @include control-checked-colors();

  display: inline-flex;
  position: relative;
  text-transform: none;
  max-width: 100%;
  padding: rem(2px);

  input {
    left: -99999px;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: -1; // Does not interrupt clicks
  }

  &-indicator {
    background-clip: padding-box;
    background-color: $control-background-color;
    box-shadow: none;
    cursor: pointer;
    display: block;
    position: relative;
    font-size: $control-indicator-size;
    height: 1em;
    width: 1em;
    user-select: none;

    border: rem(1px) solid $pa-ui-05;
    border-radius: rem(2px);

    &::before {
      content: "";
      display: block;
      height: 1em;
      width: 1em;
      position: absolute;
      top: 0;
      left: 0;
    }

    &:not(:last-child) {
      margin-right: rem(10px);
    }
  }

  &:hover &-indicator {
    background-color: $control-background-color-hover;
  }

  input:not(:disabled):active ~ &-indicator {
    background: $control-background-color-active;
  }

  input:disabled ~ &-indicator {
    background: $control-background-color-disabled;
    box-shadow: none;
    border: rem(1px) solid $pa-disabled-02;
    cursor: not-allowed;
  }

  input:focus ~ &-indicator {
    @include focus-outline();
  }

  input:checked ~ &-indicator::before {
    // 1em is size of indicator
    left: calc(100% - 1em);
  }

  input:checked ~ .#{$ns}-control-button {
    background-color: $pa-error;
  }

  &.#{$ns}-disabled {
    &:hover {
      color: $control-background-color-selected-disabled;
      cursor: not-allowed;
    }
  }
}

// Control button styles
.#{$ns}-control-button {
}
