@import "../../common/common";

.#{$ns}-timepicker-dropdowns:not(:last-child) {
  margin-right: rem(16px);
}

.#{$ns}-timepicker-dropdowns:last-child {
  >label >button {
    min-width: rem(288px);
  }
}
