.hui-svg-icon {
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentColor;
  color: inherit;
  flex-shrink: 0;
  /* inherit from parent */
  font-size: inherit;
}
