@import "../../../common/common";

.#{$ns}-dropzone {
  border: $gray-40 dashed thin;
  border-radius: rem(4px);
  overflow: hidden;
  padding: rem(16px);
  display: grid;
  grid-gap: rem(8px);
  height: 100%;
  width: 100%;
  min-height: rem(208px); // use rem utility
  max-width: rem(416px); // use rem utility
  max-height: rem(208px);
  cursor: pointer;
  transition: border-color 300ms, background-color 300ms;
  align-content: center;
  &-drag {
    border-color: $blue-40;
    background: $blue-5;
  }
  &-has-file {
    align-content: flex-start;
    grid-template-rows: min-content 999fr;
  }
  &-icon {
    height: rem(96px);
    display: flex;
    justify-content: center;
    align-items: center;
    > svg {
      height: 100%;
      width: 100%;
      color: $gray-40;
      transition: color 300ms;
    }
    &-drag {
      > svg {
        color: $blue-40;
      }
    }
    &-simple {
      height: rem(24px);
      > svg {
        height: rem(24px);
        width: rem(24px);
      }
    }
  }
  &-instructions {
    text-align: center;
    letter-spacing: rem(0.12px);
    font-size: 0.75rem;
    &-simple {
      font-size: 1.25rem;
    }
    &-has-file {
      display: flex;
      font-size: rem(14px);
      max-width: rem(150px);
      text-align: center;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }
  }
  &-input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: rem(1px);
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: rem(1px);
  }
}
