@import "../../../common/common";

.#{$ns}-file-item {
  display: grid;
  border: $gray-40 thin solid;
  border-radius: rem(4px);
  overflow: hidden;
  transition: background-color 200ms, border-color 200ms;
  &:hover {
    background: #f6f6f6;
    border-color: $gray-40;
  }
  &-error {
    border-color: $pa-error;
    &:hover {
      background: $red-5;
      border-color: $pa-error;
    }
  }
  &-info {
    height: rem(40px);
    display: grid;
    grid-template-columns: rem(40px) auto rem(40px);
  }
  &-logo {
    padding: 0;
    border: none;
    background: none;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(12px);
    height: 100%;
    &-error {
      color: $pa-error;
    }
    > * {
      height: rem(16px);
      width: rem(16px);
    }
  }
  &-filename {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
  &-error-message {
    border-top: $gray-40 thin solid;
    padding: rem(12px);
    padding-bottom: rem(0px);
    > p {
      font-size: 0.875rem;
      color: $pa-danger;
    }
  }
  button {
    cursor: pointer;
  }
}
