@import "../../../common/common";

.#{$ns}-small-dropzone {
  border: $gray-40 dashed thin;
  border-radius: rem(4px);
  overflow: hidden;
  padding: rem(16px);
  display: grid;
  grid-gap: rem(8px);
  max-height: rem(120px);
  min-height: rem(120px);
  height: rem(120px);
  max-width: rem(160px);
  cursor: pointer;
  transition: border-color 300ms, background-color 300ms;
  justify-content: center;
  align-content: center;
  &-drag {
    border-color: $blue-40;
    background: $blue-5;
  }
  &-icon {
    height: rem(24px);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    > svg {
      height: rem(18px);
      width: rem(18px);
      color: $gray-40;
      transition: color 300ms;
    }
    &-drag {
      > svg {
        color: $blue-40;
      }
    }
    &-error {
      > svg {
        color: $pa-error;
      }
    }
  }
  &-instructions {
    text-align: center;
    letter-spacing: rem(0.12px);
    font-size: 0.75rem;
  }
  &-input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: rem(1px);
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: rem(1px);
  }
}
