@import "../../common/common";
@import "../../scoped/inputs";

$text-area-character-counter-color: $pa-ui-04 !default;
$text-area-character-counter-font-weight: $pa-font-weight-normal !default;
$text-area-input-padding-horizontal-compact: rem(12px) !default;
$text-area-input-padding-horizontal: rem(16px) !default;
$text-area-input-padding-vertical-compact: rem(10px) !default;
$text-area-input-padding-vertical: rem(12px) !default;

/** Override imported from `inputs` */
$pa-input-height: auto;
$pa-input-height-compact: auto;

.#{$ns}-text-area {
  display: flex;
  flex-direction: column;
  position: relative;

  /** Styles for the actual input area */
  &-input {
    /** The `false` omits the `focus` styles from the respective mixins */
    @include pa-input(false);
    @include pa-input-states(false);

    display: flex;
    position: relative;
    flex-grow: 1;
    border: 0;

    width: 100%;

    padding: $text-area-input-padding-vertical $text-area-input-padding-horizontal;

    /** Prevent horizontal resizing */
    resize: vertical;
    overflow: auto;
    margin: 0;

    &.#{$ns}-compact {
      padding: $text-area-input-padding-vertical-compact $text-area-input-padding-horizontal-compact;
    }
  }

  .#{$ns}-label {
    @include pa-input-label();
    display: flex;
    justify-content: space-between;
  }

  &-helper {
    @include pa-input-helper();
  }

  .#{$ns}-error-message {
    @include pa-input-error-message();
  }

  &-character-counter {
    color: $text-area-character-counter-color;
    font-weight: $text-area-character-counter-font-weight;
  }
}
