@import "../../common/common";

.#{$ns}-link {
  display:  inline-flex;
  align-items: center;
  outline: none;
  color: $blue-60;

  &:hover {
    color: $blue-50;
    text-decoration: underline;

    &.#{$ns}-link-danger {
      color: $red-50;
    }
  }

  &:focus {
    border-radius: rem(2px);
    outline: none;
    @include focus-outline();

  }

  &:visited {
    color: $blue-80;
  }

  &:active {
    color: $blue-80;
  }

  &.#{$ns}-link-danger {
    color: $red-60;

    &:hover {
      color: $red-50;
    }
  }

  &.#{$ns}-inline {
    text-decoration: underline;
  }
}

.#{$ns}-disabled {
  pointer-events: none;
  cursor: not-allowed;
  color: $gray-40;

}

.#{$ns}-link-content {
  display: inline-flex;
  align-items: center;
}


.#{$ns}-link-icon {
  margin-left: em(8px);
  line-height: inherit;
  font-size: inherit;
  height: 100%;
  display: inline-flex;
  align-items: center;
}
