@import "../../common/common";
@import "../../scoped/inputs";

$text-field-font-weight: $pa-font-weight-semibold;

$text-field-action-color: $pa-information;
$text-field-action-font-weight: $pa-font-weight-normal;

$text-field-icon-horizontal-padding: rem(12px);

$text-field-prefix-background-color: $gray-5;

.#{$ns}-text-field {
  display: flex;
  flex-direction: column;
  position: relative;

  .#{$ns}-input {
    // explicit position prevents shadow clipping
    position: relative;
    order: 0;
    width: 100%;
    box-shadow: none;
    background: transparent;
    padding: 0;
  }

  &-aggregator {
    display: flex;
  }

  &-wrapper {
    position: relative;
    display: flex;
    flex-grow: 1;

    @include pa-input-states();

    padding: 0 $pa-input-padding-horizontal;

    &.#{$ns}-compact {
      padding: 0 $pa-input-padding-horizontal-compact;
    }
  }

  &-icon-left,
  &-icon-right {
    position: relative;
    font-size: rem(20px);

    z-index: 1;

    height: 100%;
    display: flex;
    align-self: center;
    align-items: center;

    .#{$ns}-svg-icon {
      display: flex;
      z-index: 1;
    }
  }

  &-icon-left {
    padding-right: $text-field-icon-horizontal-padding;
  }

  &-icon-right {
    padding-left: $text-field-icon-horizontal-padding;
  }

  &-button {
    cursor: pointer;
    border: none;
    outline: none;
    height: 100%;
    background: none;
    padding: 0;

    &:empty {
      padding: 0;
    }
  }

  &-label {
    @include pa-input-label();

    display: flex;
    justify-content: space-between;
  }

  &-action {
    color: $pa-input-action-color;
    font-weight: $pa-input-action-font-weight;
  }

  &-error-message {
    @include pa-input-error-message();
  }

  &-helper {
    @include pa-input-helper();
  }

  &-prefix,
  &-suffix {
    @include typography-normal();
    padding: 0 rem(12px);
    background-color: $text-field-prefix-background-color;
    box-shadow: input-transition-shadow(noinput);
    display: flex;
    align-items: center;
  }

  &-prefix {
    order: -1;
    margin-right: rem(-1px);
    border-radius: rem(2px) rem(0px) rem(0px) rem(2px);

    & ~ .#{$ns}-text-field-wrapper {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &-suffix {
    order: 1;
    margin-left: rem(-1px);
    border-radius: rem(0px) rem(2px) rem(2px) rem(0px);

    & ~ .#{$ns}-text-field-wrapper {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &.#{$ns}-compact &-prefix,
  &-suffix {
    @include typography-small();
  }
}
