@import "../../common/common";

$text-color: $gray-100 !default;

.#{$ns}-text {
  color: $text-color;
  font-feature-settings: "liga" off;

  &-normal {
    @include typography-normal();
    font-weight: $pa-font-weight-normal;
  }

  &-small {
    @include typography-small();
    font-weight: $pa-font-weight-normal;
  }

  &-tiny {
    @include typography-tiny();
    font-weight: $pa-font-weight-normal;
  }

  &-bold {
    font-weight: $pa-font-weight-semibold;
  }

  &-underlined {
    text-decoration: underline;
  }
}
