@import "../../common/common";

$icon-button-background-color-plain-hover: $pa-hover-ghost !default;
$icon-button-color-plain-hover: $pa-ui-05 !default;

.#{$ns}-icon-button {
  justify-content: space-around;
  padding: 0;

  min-height: unset;
  min-width: unset;
  width: rem(24px);
  height: rem(24px);

  .#{$ns}-svg-icon {
    display: flex;
    align-items: center;
    width: 100%;
    @include typography-normal;
  }

  &-xsmall {
    width: rem(16px);
    height: rem(16px);
  }
  &-xsmall .#{$ns}-svg-icon {
  }

  &-small {
    width: rem(20px);
    height: rem(20px);
  }
  &-small .#{$ns}-svg-icon {
  }

  &-large {
    width: rem(32px);
    height: rem(32px);
  }
  &-large .#{$ns}-svg-icon {
    @include typography-medium;
  }

  &-xlarge {
    width: rem(40px);
    height: rem(40px);
  }
  &-xlarge .#{$ns}-svg-icon {
    @include typography-medium;
  }

  &-xxlarge {
    width: rem(48px);
    height: rem(48px);
  }
  &-xxlarge .#{$ns}-svg-icon {
    @include typography-large;
  }
}
