@import "../../common/common";

$date-picker-font-weight: $pa-font-weight-semibold;

$date-picker-day-active-color: $pa-ui-01;
$date-picker-day-active-background-color: $pa-interactive-03;

$date-picker-day-button-height: rem(26px);
$date-picker-day-button-width: rem(30px);
$date-picker-day-button-border-radius: rem(2px);

$date-picker-month-button-height: rem(48px);
$date-picker-month-button-width: rem(66px);

/**
* Person: :O Muhammad how could you use `!important` in so many places?!
*
* Me: inline styles for the calendar library need to be overridden ¯\_(ツ)_/¯
*/

.react-calendar {
  width: rem(320px);
  max-width: 100%;
  background: white;
  @include typography-normal;
  box-shadow: $pa-elevation-3;
  font-weight: $date-picker-font-weight;
  padding: rem(16px);

  &--doubleView {
    width: 700px;

    .react-calendar__viewContainer {
      display: flex;
      margin: -.5em;

      > * {
        width: 50%;
        margin: .5em;
      }
    }
  }

  button {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;

    &:enabled {
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__navigation {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 rem(16px);
    height: rem(24px);

    &__arrow {
      @extend .#{$ns}-button;
      @extend .#{$ns}-button-plain;
      @extend .#{$ns}-icon-button;
      @extend .#{$ns}-icon-button-large;

      color: $gray-70;
    }

    &__label {
      @extend .#{$ns}-button;
      @extend .#{$ns}-button-plain;
      @extend .#{$ns}-mini;
      @include typography-normal;

      min-width: unset;
      flex-grow: unset !important;

      &:disabled {
        color: inherit;
      }
    }
  }

  &__month-view {
    color: $pa-text-01;
    &__weekdays {
      display: grid !important;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: rem(12px);

      @include typography-tiny;
      font-weight: $pa-font-weight-semibold;
      text-align: center;
      color: $pa-text-05;
      padding: rem(8px) 0;

      &__weekday {
        flex-basis: unset !important;
        max-width: unset !important;
      }

      abbr[title] {
        text-decoration: none;
      }
    }

    &__weekNumbers {

      .react-calendar__tile {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .75em;
        padding: calc(.75em / .75) calc(.5em / .75);
      }
    }

    &__days {
      display: grid !important;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-column-gap: rem(12px);
      grid-row-gap: rem(12px);

      &__day {

        &--neighboringMonth {
          color: $pa-text-03;
        }
        height: $date-picker-day-button-height;
        width: $date-picker-day-button-width;
        border-radius: $date-picker-day-button-border-radius;
      }
    }
  }

  &__year-view {
    &__months {
      display: grid !important;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: rem(8px);
      grid-row-gap: rem(26px);

      &__month {
        height: $date-picker-month-button-height;
        width: $date-picker-month-button-width;
      }
    }
  }

  // &__year-view,
  // &__decade-view,
  // &__century-view {
  //   .react-calendar__tile {
  //     padding: 2em .5em;
  //   }
  // }

  &__tile {
    @extend .#{$ns}-button;
    @extend .#{$ns}-button-plain;

    min-height: unset;
    min-width: unset;
    padding: 0;

    flex-basis: unset !important;
    max-width: unset !important;
    padding: none;

    > abbr {
      justify-content: center;
      align-items: center;
      height: 100%;
      width: auto;
      position: relative;
    }

    &--active, &--now {
      color: $pa-interactive-01;
    }

    &--now {
      color: $pa-interactive-01;
      &:hover {
        color: $pa-interactive-01;
      }
      > abbr {
        &:after {
          content: '';
          position: absolute;
          margin-bottom: rem(-2px);
          bottom: 0;
          left: 0;
          background-color: $pa-interactive-01;
          justify-content: space-around;
          height: rem(2px);
          width: 100%;
          border-radius: rem(2px);
        }
      }


      &:enabled {
        &:hover, &:focus {

        }
      }
    }

    &--hasActive {

      &:enabled {
        &:hover, &:focus {
        }
      }
    }

    &--active {
      color: $pa-ui-01;
      background-color: $pa-interactive-03;

      &:focus {
        color: $pa-ui-01;
      }

      &:hover {
        color: $pa-ui-05;
      }

      &:enabled {
        &:hover, &:focus {
        }
      }
    }
  }

  &--selectRange {
    .react-calendar__tile {
      &--hover {
        background-color: rgb(230, 230, 230);
      }
    }
  }
}
