@import "../../common/common";

.#{$ns}-heading {
  // xxlarge goes above since it's the default state of the component
  &-xxlarge {
    @include h2();
  }

  &-hero {
    @include h1();
  }

  &-xlarge {
    @include h3();
  }

  &-large {
    @include h4();
  }

  &-medium {
    @include h5();
  }

  &-normal {
    @include h6();
  }
}
